@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');


html {
  --site_background: #333333;
  --text_color: #ebebeb;
}
#content {
  background-color: var(--site_background);
  color: var(--text_color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0;
  overflow: visible;
  height: 100vh;

}

#name {
  font-family: 'Courgette', sans-serif;
  margin-left: 0;
  padding-left: 0;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
}

figure img {
  width: 500px;
  border-radius: 20px;
}

.break {
  height: 0;
  flex-basis: 100%;
}

main {
  font-family: 'Poppins', sans-serif;
}
.nav-button {
  cursor: pointer;
  outline: none;
  border-style: none;
  border: 1px var(--text_color) solid;
  font-family: 'Poppins', Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  background-color: var(--site_background);
  color: var(--text_color);
  padding: 5px 20px 5px 20px;
}